
<!DOCTYPE html>
<html>
<head>
<title>InfinityStyleVerse</title>
 <link rel="stylesheet" href="../assets/css/style.css" />
</head>
<body>

<footer class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <br />
                <address class="footer-address">
                    <p>+123 456 7897</p>
                    <p>Havelock Road</p>
                    <p>Colombo 05</p>
                </address>
            </div>
            <div class="footer-column">
                <h4>My Account</h4>
                <ul>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Order status</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Help</h4>
                <ul>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Sizing</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Legal Stuff</h4>
                <ul>
                    <li><a href="#">Shipping & Delivery</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy & Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 InfinityStyleVerse. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
